# Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

Well done! Having spent years analyzing financial records for big banks, you've finally scratched your idealistic itch and joined the education sector. In your latest role, you've become the Chief Data Scientist for your city's school district. In this capacity, you'll be helping the  school board and mayor make strategic decisions regarding future school budgets and priorities.

As a first task, you've been asked to analyze the district-wide standardized test results. You'll be given access to every student's math and reading scores, as well as various information on the schools they attend. Your responsibility is to aggregate the data to and showcase obvious trends in school performance.

Your final report should include each of the following:

In [52]:
# Dependencies and Setup
import pandas as pd
import numpy as np 
import array as arr
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:

total_schools = school_data_complete["school_name"].count()

total_students = school_data_complete["student_name"].count()

total_budget = school_data_complete["budget"].sum()

avg_math_score = school_data_complete["math_score"].mean()

avg_reading_score = school_data_complete["reading_score"].mean()

overall_passing_rate = (avg_math_score+avg_reading_score)/2

students_passing_math = school_data_complete["math_score"] >= 70 
total_math = int(students_passing_math.value_counts().loc[True])
percent_passing_math = (total_math/total_students)*100

students_passing_reading = school_data_complete["reading_score"] >= 70
total_reading = int(students_passing_reading.value_counts().loc[True])
percent_passing_reading = (total_reading/total_students)*100

In [4]:
# Create a dataframe to hold the above results
df = pd.DataFrame(
    {"Total Students": [total_students],
     "Total Budget": [total_budget],
     "Average Math Score": [avg_math_score], 
     "Average Reading Score": [avg_reading_score],
     "Overall Average Score": [overall_passing_rate],
     "% Passing Math": [percent_passing_math],
     "% Passing Reading": [percent_passing_reading]
     
     }
)
df

,Total Students,Total Budget,Average Math Score,Average Reading Score,Overall Average Score,% Passing Math,% Passing Reading
0,39170,82932329558,78.985371,81.87784,80.431606,74.980853,85.805463

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [51]:
grouped_highschool_df = school_data_complete.groupby(["school_name","type"])
grouped_highschool_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
2917,2917,Amy Jacobs,F,10th,Figueroa High School,85,87,1,District,2949,1884411
2918,2918,Nathan Campbell,M,12th,Figueroa High School,97,84,1,District,2949,1884411
2919,2919,Randall Stewart,M,12th,Figueroa High School,67,77,1,District,2949,1884411
2920,2920,Jennifer Brown,F,9th,Figueroa High School,97,64,1,District,2949,1884411
2921,2921,Denise Lopez,F,10th,Figueroa High School,79,64,1,District,2949,1884411
5866,5866,Jamie Montgomery,F,12th,Shelton High School,70,91,2,Charter,1761,1056600
5867,5867,Shannon Phillips,F,10th,Shelton High School,84,71,2,Charter,1761,1056600
5868,5868,Todd Barber,M,11th,Shelton High School,95,99,2,Charter,1761,1056600
5869,5869,Desiree King,F,12th,Shelton High School,76,95,2,Charter,1761,1056600
5870,5870,Melissa Roberts,F,10th,Shelton High School,71,82,2,Charter,1761,1056600
7627,7627,Russell Davis,M,10th,Hernandez High School,70,88,3,District,4635,3022020
7628,7628,Timothy Walker,M,12th,Hernandez High School,97,93,3,District,4635,3022020
7629,7629,Katie Johnston,F,12th,Hernandez High School,83,81,3,District,4635,3022020
7630,7630,Joann Oconnell,F,12th,Hernandez High School,77,91,3,District,4635,3022020
7631,7631,Sarah Alexander,F,10th,Hernandez High School,84,93,3,District,4635,3022020
12262,12262,Heather Wright,F,11th,Griffin High School,79,68,4,Charter,1468,917500
12263,12263,Elizabeth Goodwin,F,10th,Griffin High School,91,81,4,Charter,1468,917500
12264,12264,Michelle Wong,F,9th,Griffin High School,78,89,4,Charter,1468,917500
12265,12265,Scott Roth MD,M,11th,Griffin High School,91,85,4,Charter,1468,917500
12266,12266,Billy Wilson,M,12th,Griffin High School,76,83,4,Charter,1468,917500
13730,13730,Kelli Anderson,F,10th,Wilson High School,84,71,5,Charter,2283,1319574
13731,13731,Russell Ramirez,M,10th,Wilson High School,72,87,5,Charter,2283,1319574
13732,13732,Eric Butler,M,10th,Wilson High School,97,82,5,Charter,2283,1319574
13733,13733,Warren Kerr,M,11th,Wilson High School,93,68,5,Charter,2283,1319574
13734,13734,Gail Hall,F,9th,Wilson High School,79,72,5,Charter,2283,1319574
...,...,...,...,...,...,...,...,...,...,...,...
23274,23274,Alec Davis,M,9th,Pena High School,91,75,9,Charter,962,585858
23275,23275,Michael Meyer,M,10th,Pena High School,94,76,9,Charter,962,585858
23276,23276,Donald Gutierrez,M,11th,Pena High School,98,91,9,Charter,962,585858
23277,23277,Travis Chavez,M,11th,Pena High School,78,71,9,Charter,962,585858
23278,23278,Sheena Ball,F,12th,Pena High School,87,92,9,Charter,962,585858
24236,24236,Aaron Johnson,M,10th,Wright High School,89,72,10,Charter,1800,1049400
24237,24237,Kimberly Hamilton,F,10th,Wright High School,84,93,10,Charter,1800,1049400
24238,24238,Ashley Johns,F,10th,Wright High School,88,88,10,Charter,1800,1049400
24239,24239,Stephanie Donovan,F,10th,Wright High School,75,84,10,Charter,1800,1049400
24240,24240,Cynthia Guzman,F,11th,Wright High School,93,82,10,Charter,1800,1049400
26036,26036,Sherry Jenkins,F,11th,Rodriguez High School,74,81,11,District,3999,2547363
26037,26037,Kimberly Calderon,F,10th,Rodriguez High School,80,86,11,District,3999,2547363
26038,26038,William Brady,M,11th,Rodriguez High School,97,62,11,District,3999,2547363
26039,26039,Jacob Padilla,M,11th,Rodriguez High School,79,73,11,District,3999,2547363
26040,26040,Paula Maldonado,F,10th,Rodriguez High School,96,92,11,District,3999,2547363
30035,30035,Lisa Casey,F,12th,Johnson High School,87,87,12,District,4761,3094650
30036,30036,Jessica Lopez,F,9th,Johnson High School,98,62,12,District,4761,3094650
30037,30037,Anna Wilkins,F,11th,Johnson High School,89,77,12,District,4761,3094650
30038,30038,Andrew Smith,M,9th,Johnson High School,66,85,12,District,4761,3094650
30039,30039,Robert Allison,M,11th,Johnson High School,63,85,12,District,4761,3094650
34796,34796,Michael Mercado,M,9th,Ford High School,66,94,13,District,2739,1763916
34797,34797,Stephen Wolf,M,11th,Ford High School,68,63,13,District,2739,1763916
34798,34798,Bonnie Hughes,F,12th,Ford High School,73,59,13,District,2739,1763916
34799,34799,Melissa Smith,F,11th,Ford High School,88,58,13,District,2739,1763916
34800,34800,Brian Mitchell,M,10th,Ford High School,96,55,13,District,2739,1763916
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,14,Charter,1635,1043130
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,14,Charter,1635,1043130
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,14,Charter,1635,1043130
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,14,Charter,1635,1043130

In [18]:
# Create an overview table that summarizes key metrics about each school, including:

total_students_school = grouped_highschool_df["Student ID"].count()

total_budget_school = grouped_highschool_df["budget"].sum()
# Per Student Budget
per_student_budget = grouped_highschool_df["budget"].count()
avg_mathscore_school = grouped_highschool_df["math_score"].mean()

avg_readingscore_school = grouped_highschool_df["reading_score"].mean()

allstudents_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
percent_math = (allstudents_passing_math) / (total_students_school) * 100

allstudents_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
percent_reading = (allstudents_passing_reading) / (total_students_school) * 100

passing_rate = (avg_mathscore_school+avg_readingscore_school)/2

In [7]:
# Create a dataframe to hold the above results
new_df = pd.DataFrame(
    {"Total Students": total_students_school,
     "Total Budget": total_budget_school,
     "Average Math Score": avg_mathscore_school, 
     "Average Reading Score": avg_readingscore_school,
     "Overall Average Score": passing_rate,
     "% Passing Math": percent_math,
     "% Passing Reading": percent_reading
     
     }
)
df
new_df

,,Total Students,Total Budget,Average Math Score,Average Reading Score,Overall Average Score,% Passing Math,% Passing Reading
school_name,type,,,,,,,
Bailey High School,District,4976,15549641728,77.048432,81.033963,79.041198,590.233119,675.442122
Cabrera High School,Charter,1858,2009159448,83.061895,83.975780,83.518837,1580.731970,1808.934338
Figueroa High School,District,2949,5557128039,76.711767,81.158020,78.934893,995.930824,1139.708376
Ford High School,District,2739,4831365924,77.102592,80.746258,78.924425,1072.289157,1227.090179
Griffin High School,Charter,1468,1346890000,83.351499,83.816757,83.584128,2000.681199,2289.509537
Hernandez High School,District,4635,14007062700,77.289752,80.934412,79.112082,633.656958,725.134844
Holden High School,Charter,427,105933149,83.803279,83.814988,83.809133,6878.220141,7871.194379
Huang High School,District,2917,5573322295,76.629414,81.182722,78.906068,1006.856359,1152.211176
Johnson High School,District,4761,14733628650,77.072464,80.966394,79.019429,616.887209,705.944129
Pena High School,Charter,962,563595396,83.839917,84.044699,83.942308,3053.014553,3493.762994
Rodriguez High School,District,3999,10186904637,76.842711,80.744686,78.793698,734.433608,840.460115
Shelton High School,Charter,1761,1860672600,83.359455,83.725724,83.542589,1667.802385,1908.574673
Thomas High School,Charter,1635,1705517550,83.418349,83.848930,83.633639,1796.330275,2055.657492
Wilson High School,Charter,2283,3012587442,83.274201,83.989488,83.631844,1286.465177,1472.185721
Wright High School,Charter,1800,1888920000,83.682222,83.955000,83.818611,1631.666667,1867.222222

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [8]:
top_schools = new_df.sort_values("Overall Average Score", ascending=False)
top_five_schools = top_schools.head(5)
top_five_schools

,,Total Students,Total Budget,Average Math Score,Average Reading Score,Overall Average Score,% Passing Math,% Passing Reading
school_name,type,,,,,,,
Pena High School,Charter,962,563595396,83.839917,84.044699,83.942308,3053.014553,3493.762994
Wright High School,Charter,1800,1888920000,83.682222,83.955000,83.818611,1631.666667,1867.222222
Holden High School,Charter,427,105933149,83.803279,83.814988,83.809133,6878.220141,7871.194379
Thomas High School,Charter,1635,1705517550,83.418349,83.848930,83.633639,1796.330275,2055.657492
Wilson High School,Charter,2283,3012587442,83.274201,83.989488,83.631844,1286.465177,1472.185721

## Bottom Performing Schools (By Passing Rate)

In [9]:
low_schools = new_df.sort_values("Overall Average Score", ascending=True)
low_five_schools = low_schools.head(5)
low_five_schools

,,Total Students,Total Budget,Average Math Score,Average Reading Score,Overall Average Score,% Passing Math,% Passing Reading
school_name,type,,,,,,,
Rodriguez High School,District,3999,10186904637,76.842711,80.744686,78.793698,734.433608,840.460115
Huang High School,District,2917,5573322295,76.629414,81.182722,78.906068,1006.856359,1152.211176
Ford High School,District,2739,4831365924,77.102592,80.746258,78.924425,1072.289157,1227.090179
Figueroa High School,District,2949,5557128039,76.711767,81.158020,78.934893,995.930824,1139.708376
Johnson High School,District,4761,14733628650,77.072464,80.966394,79.019429,616.887209,705.944129

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [11]:
grade_highschool_df = school_data_complete.groupby(["school_name","grade"])
grade_highschool_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
2917,2917,Amy Jacobs,F,10th,Figueroa High School,85,87,1,District,2949,1884411
2918,2918,Nathan Campbell,M,12th,Figueroa High School,97,84,1,District,2949,1884411
2919,2919,Randall Stewart,M,12th,Figueroa High School,67,77,1,District,2949,1884411
2920,2920,Jennifer Brown,F,9th,Figueroa High School,97,64,1,District,2949,1884411
2921,2921,Denise Lopez,F,10th,Figueroa High School,79,64,1,District,2949,1884411
2922,2922,Amanda Hamilton DDS,F,9th,Figueroa High School,72,93,1,District,2949,1884411
2923,2923,Anthony Pace,M,10th,Figueroa High School,66,90,1,District,2949,1884411
2924,2924,Anthony Haynes,M,12th,Figueroa High School,81,75,1,District,2949,1884411
2925,2925,Natasha Maxwell,F,9th,Figueroa High School,76,77,1,District,2949,1884411
2926,2926,Christine Mann,F,9th,Figueroa High School,71,73,1,District,2949,1884411
...,...,...,...,...,...,...,...,...,...,...,...
34806,34806,Crystal Sandoval,F,11th,Ford High School,85,84,13,District,2739,1763916
34807,34807,Christopher Garcia,M,9th,Ford High School,96,93,13,District,2739,1763916
34808,34808,Tamara Daniels,F,12th,Ford High School,84,94,13,District,2739,1763916
34817,34817,Julia Garcia,F,12th,Ford High School,87,82,13,District,2739,1763916
34819,34819,Nicholas Doyle,M,12th,Ford High School,87,98,13,District,2739,1763916
34820,34820,Diana Nguyen,F,10th,Ford High School,98,95,13,District,2739,1763916
34822,34822,Christopher Scott,M,12th,Ford High School,97,84,13,District,2739,1763916
34827,34827,Mr. Chad Gentry DDS,M,10th,Ford High School,83,82,13,District,2739,1763916
34830,34830,Daniel Price,M,10th,Ford High School,98,67,13,District,2739,1763916
34834,34834,Kelsey Bond,F,10th,Ford High School,86,55,13,District,2739,1763916
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,14,Charter,1635,1043130
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,14,Charter,1635,1043130
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,14,Charter,1635,1043130
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,14,Charter,1635,1043130
37540,37540,Austin Meyer,M,9th,Thomas High School,73,96,14,Charter,1635,1043130
37541,37541,Eric Stevens,M,10th,Thomas High School,80,76,14,Charter,1635,1043130
37542,37542,Elizabeth Bennett,F,11th,Thomas High School,91,94,14,Charter,1635,1043130
37543,37543,Madison Hampton,F,9th,Thomas High School,82,73,14,Charter,1635,1043130
37544,37544,Jacqueline Harris,F,10th,Thomas High School,71,92,14,Charter,1635,1043130
37545,37545,Christopher Shaw,M,10th,Thomas High School,84,68,14,Charter,1635,1043130
37546,37546,Steven Hoover MD,M,12th,Thomas High School,90,81,14,Charter,1635,1043130
37547,37547,Amanda Hicks,F,12th,Thomas High School,77,74,14,Charter,1635,1043130
37548,37548,Brian Moss,M,10th,Thomas High School,70,97,14,Charter,1635,1043130
37549,37549,Christopher Martinez,M,11th,Thomas High School,70,68,14,Charter,1635,1043130
37551,37551,Nancy Mason,F,12th,Thomas High School,91,86,14,Charter,1635,1043130
37554,37554,Rebecca Brown,F,11th,Thomas High School,76,77,14,Charter,1635,1043130
37555,37555,Chad Martin,M,11th,Thomas High School,72,82,14,Charter,1635,1043130
37570,37570,Victoria Brown,F,12th,Thomas High School,87,95,14,Charter,1635,1043130
37571,37571,Michael Murphy,M,12th,Thomas High School,74,86,14,Charter,1635,1043130

In [15]:
math_by_school = grade_highschool_df["math_score"].mean()
read_by_school = grade_highschool_df["reading_score"].mean()

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [16]:
#creating a combined dataframe
combined_scores_df = pd.DataFrame(
    {"Average Reading Score": read_by_school,
     "Average Math Score": math_by_school,
     }
)
df
combined_scores_df

                             Average Reading Score  Average Math Score
school_name           grade
Bailey High School    10th               80.907183           76.996772
                      11th               80.945643           77.515588
                      12th               80.912451           76.492218
                      9th                81.303155           77.083676
Cabrera High School   10th               84.253219           83.154506
                      11th               83.788382           82.765560
                      12th               84.287958           83.277487
                      9th                83.676136           83.094697
Figueroa High School  10th               81.408912           76.539974
                      11th               80.640339           76.884344
                      12th               81.384863           77.151369
                      9th                81.198598           76.403037
Ford High School      10th               81.262712           77.672316
                      11th               80.403642           76.918058
                      12th               80.662338           76.179963
                      9th                80.632653           77.361345
Griffin High School   10th               83.706897           84.229064
                      11th               84.288089           83.842105
                      12th               84.013699           83.356164
                      9th                83.369193           82.044010
Hernandez High School 10th               80.660147           77.337408
                      11th               81.396140           77.136029
                      12th               80.857143           77.186567
                      9th                80.866860           77.438495
Holden High School    10th               83.324561           83.429825
                      11th               83.815534           85.000000
                      12th               84.698795           82.855422
                      9th                83.677165           83.787402
Huang High School     10th               81.512386           75.908735
                      11th               81.417476           76.446602
                      12th               80.305983           77.225641
                      9th                81.290284           77.027251
Johnson High School   10th               80.773431           76.691117
                      11th               80.616027           77.491653
                      12th               81.227564           76.863248
                      9th                81.260714           77.187857
Pena High School      10th               83.612000           83.372000
                      11th               84.335938           84.328125
                      12th               84.591160           84.121547
                      9th                83.807273           83.625455
Rodriguez High School 10th               80.629808           76.612500
                      11th               80.864811           76.395626
                      12th               80.376426           77.690748
                      9th                80.993127           76.859966
Shelton High School   10th               83.441964           82.917411
                      11th               84.373786           83.383495
                      12th               82.781671           83.778976
                      9th                84.122642           83.420755
Thomas High School    10th               84.254157           83.087886
                      11th               83.585542           83.498795
                      12th               83.831361           83.497041
                      9th                83.728850           83.590022
Wilson High School    10th               84.021452           83.724422
                      11th               83.764608           83.195326
                      12th               84.317673           83.035794
                      9th                83.939778           83.085578
Wright High School    10th               83.812757           84.010288
                      11th               84.156322           83.836782
                      12th               84.073171           83.644986
                      9th                83.833333           83.264706

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [17]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [43]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
size_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [37]:
school_size = grouped_highschool_df["size"].count()

In [61]:
schoolsize_df = pd.DataFrame(
    {"Total Students": total_students_school,
     "Total Budget": total_budget_school,
     "Average Math Score": avg_mathscore_school, 
     "Average Reading Score": avg_readingscore_school,
     "Overall Average Score": passing_rate,
     "% Passing Math": percent_math,
     "% Passing Reading": percent_reading,
     "School Size": school_size
     
    
     }
)

In [62]:
schoolsize_df["Size Type"] = pd.cut(schoolsize_df["School Size"], size_bins, labels=size_names)
schoolsize_df.head()

,,Total Students,Total Budget,Average Math Score,Average Reading Score,Overall Average Score,% Passing Math,% Passing Reading,School Size,Size Type
school_name,type,,,,,,,,,
Bailey High School,District,4976,15549641728,77.048432,81.033963,79.041198,590.233119,675.442122,4976,Large (2000-5000)
Cabrera High School,Charter,1858,2009159448,83.061895,83.975780,83.518837,1580.731970,1808.934338,1858,Medium (1000-2000)
Figueroa High School,District,2949,5557128039,76.711767,81.158020,78.934893,995.930824,1139.708376,2949,Large (2000-5000)
Ford High School,District,2739,4831365924,77.102592,80.746258,78.924425,1072.289157,1227.090179,2739,Large (2000-5000)
Griffin High School,Charter,1468,1346890000,83.351499,83.816757,83.584128,2000.681199,2289.509537,1468,Medium (1000-2000)

In [65]:
schoolsize = schoolsize_df.groupby("Size Type")
schoolsize.head()

,,Total Students,Total Budget,Average Math Score,Average Reading Score,Overall Average Score,% Passing Math,% Passing Reading,School Size,Size Type
school_name,type,,,,,,,,,
Bailey High School,District,4976,15549641728,77.048432,81.033963,79.041198,590.233119,675.442122,4976,Large (2000-5000)
Cabrera High School,Charter,1858,2009159448,83.061895,83.975780,83.518837,1580.731970,1808.934338,1858,Medium (1000-2000)
Figueroa High School,District,2949,5557128039,76.711767,81.158020,78.934893,995.930824,1139.708376,2949,Large (2000-5000)
Ford High School,District,2739,4831365924,77.102592,80.746258,78.924425,1072.289157,1227.090179,2739,Large (2000-5000)
Griffin High School,Charter,1468,1346890000,83.351499,83.816757,83.584128,2000.681199,2289.509537,1468,Medium (1000-2000)
Hernandez High School,District,4635,14007062700,77.289752,80.934412,79.112082,633.656958,725.134844,4635,Large (2000-5000)
Holden High School,Charter,427,105933149,83.803279,83.814988,83.809133,6878.220141,7871.194379,427,Small (<1000)
Huang High School,District,2917,5573322295,76.629414,81.182722,78.906068,1006.856359,1152.211176,2917,Large (2000-5000)
Pena High School,Charter,962,563595396,83.839917,84.044699,83.942308,3053.014553,3493.762994,962,Small (<1000)
Shelton High School,Charter,1761,1860672600,83.359455,83.725724,83.542589,1667.802385,1908.574673,1761,Medium (1000-2000)
Thomas High School,Charter,1635,1705517550,83.418349,83.848930,83.633639,1796.330275,2055.657492,1635,Medium (1000-2000)
Wright High School,Charter,1800,1888920000,83.682222,83.955000,83.818611,1631.666667,1867.222222,1800,Medium (1000-2000)

## Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
size_bins = [0, 1000, 2000, 5000]
size_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]